@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variáveis de cores */
:root {
    --color-primary: #007bff;
    --color-secondary: #6c757d;
    --color-bg: #f8f9fa;
    --color-text: #212529;
    --color-link: #007bff;
    --color-link-hover: #0056b3;
}

/* Reset básico e estilos base */
body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    line-height: 1.6;
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    color: var(--color-link-hover);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    padding: 50px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 20px;
}

.card-title {
    margin: 0;
    color: var(--color-primary);
    font-size: 24px;
}

.card-text {
    color: var(--color-secondary);
    margin-top: 10px;
    font-size: 16px;
}

.leaflet-control-mouseposition {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    padding: 5px;
}

.custom-popup .leaflet-popup-content {
    line-height: 1.6;
    font-size: 14px;
}

.chart-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 40vh;
    width: 80vw;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 5vh;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.toggle-btn {
    padding: 10px 15px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    display: flex;
    align-items: center;
}

.toggle-btn:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.toggle-btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

.zoom-controls {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.zoom-controls button {
    display: block;
    background-color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
}

.zoom-controls button img {
    width: 24px;
    height: 24px;
}

.navigate-btn {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff; /* Azul primário */
    color: white;
    border: none;
    border-radius: 25px; /* Bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    text-decoration: none; /* Remove o sublinhado do link */
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.navigate-btn svg {
    margin-right: 8px;
}

.navigate-btn:hover {
    background-color: #0056b3; /* Um azul um pouco mais escuro para o hover */
    transform: translateY(-2px); /* Efeito de levitar ligeiramente */
    color: #fff;
}

.map-container {
    position: relative;
    z-index: 1;
    height: 100vh;
}

/* Estilos para os botões de navegação */
.navigation-controls {
    position: absolute;
    top: 10px; /* Ajuste conforme necessário */
    right: 10px; /* Ajuste conforme necessário */
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav-btn {
    display: inline-block;
    padding: 8px 12px;
    background-color: #007bff;
    color: white !important;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out;
}

.nav-btn:hover a {
    background-color: #0056b3;
}
